<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
<h1 class=postspage>Posts page</h1>
<%- include('./partials/navbar.ejs') %>
    <div class="container">
    <div class="post">
    <h2>All posts</h2>
    <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
            <a class="singlepost" href="/singlepost/<%= post.id %>">
                <h3 class="title">
                    <%= post.title %>
                </h3>
                <p class="body">
                    <%= post.body %>
                </p>
            </a>
        <% }) %>
    <% } else { %>
        <p>You did not post anything...</p>
    <% } %>
    </div>
    </div>
<%- include('./partials/footer.ejs') %>
</body>
<style>
    body {
        background-color: #1e90ff;
    }

    h1 {
        text-align: center;
        padding-top: 50px;
        color: white;
    }

    .postspage {
        text-align: center;
        padding-top: 50px;
        color: white;
        font-family: Avenir;
    }

    .container {
        min-height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1e90ff;
    }

    .post {
        height: auto;
        width: 500px;
        background: #fff;
        padding: 50px;
        border-radius: 5px;
        position: relative;
        text-align: center;
    }



</style>
</html>