<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
<h1>Posts page</h1>
<%- include('./partials/navbar.ejs') %>
<div class="postslist">
    <h2>All posts</h2>
    <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
            <a class="singlepost" href="/singlepost/<%= post.id %>">
                <h3 class="title">
                    <%= post.title %>
                </h3>
                <p class="body">
                    <%= post.body %>
                </p>
            </a>
        <% }) %>
    <% } else { %>
        <p>You did not post anything...</p>
    <% } %>
</div>
<%- include('./partials/footer.ejs') %>
</body>
<style>
    section {
        background-color: DodgerBlue;
    }

    section div.container {
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        width: 60%;
        margin: auto;
    }

    section div.posts {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .post1 {
        box-shadow: 3px 3px 3px 3px #cac5c5;
    }

    .post1 .upper {
        display:flex;
        justify-content: space-between;
        color: #8c8888;
        margin: 10px;
    }

    .post1 .upper img {
        height: 40px;
        width: auto;
        margin-top: auto;
    }

    .post1 .inside img{
        width: 700px;
        height: auto;
    }

    .post1 .text {
        text-align: left;
        margin: 10px;
        font-size: 25px;
    }

    .post1 .text img {
        width: 100px;
        height: auto;
    }





</style>
</html>